{{ define "og-type" }}article{{ end }}

{{ define "og-description" }}{{ .Summary }}{{ end }}

{{ define "og-extra-tags" }}
		<meta property="og:article:published_time" content="{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" }}" />
{{ range .Params.authors }}		<meta property="og:article:author" content="{{ . }}" />
{{ end }}
{{ range .Params.tags }}		<meta property="og:article:tag" content="{{ . }}" />
{{ end }}
		<meta property="og:article:section" content="{{ index .Params.categories 0 | title }}" />

{{ end }}

{{ define "pre-header" }}{{ $.Scratch.Set "CurMenuItem" "docs" }}{{ end }}

{{ define "main" }}
<main>
	<div class="breadcrumbs">
		<a href="/docs">Documents</a> &raquo;
	</div>
	<h1 class="post-main after-breadcrumbs">{{ .Title }}</h1>
	<hr />
	<div class="post-meta">
		<p class="pubdate">Meeting Held on <time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "January 2, 2006 at 3:04PM" }}</time></p>
		<p>Location: {{ .Params.location }}</p>
	</div>
	<article class="post-main">
		{{ .Content }}
	</article>
	<div class="post-meta">
		<p>Category:{{ range .Params.categories }}<a class="taxonomy-link" href="/categories/{{ . | urlize }}">{{ . }}</a>{{ end }}</p>
	</div>
	<hr />
	{{ with .NextInSection }}<a class="float-right" href="{{ .URL }}"> {{ .Title }} &raquo;</a>{{ end }}
	{{ with .PrevInSection }}<a class="float-left" href="{{ .URL }}">&laquo; {{ .Title }}</a>{{ end }}
	<div class="after-post"></div>
</main>
{{ end }}
