<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
	<head>
		<meta charset="utf-8" />
		<title>{{ block "title" . }}{{ .Site.Title }} :: {{ .Title }}{{ end }}</title>
		<meta property="og:title" content="{{ block "og-title" . }}{{ .Site.Title }} :: {{ .Title }}{{ end }}" />
		{{ partial "open-graph.html" . }}		<meta property="og:type" content="{{ block "og-type" . }}website{{ end }}" />
		<meta property="og:description" content="{{ block "og-description" . }}I'm a 2D maid that works in your home! A team of coders is bringing me to life for free!{{ end }}"/>
		{{ block "og-extra-tags" . -}}{{- end }}		<link rel="stylesheet" href="/styles/main.css" />
		<link rel="stylesheet" href="/styles/wrap3col.css" />
		<link rel="stylesheet" href="/styles/hf-side.css" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
		<link rel="alternate" type="application/atom+xml" title="News Feed" href="{{ .Site.RSSLink }}" />
		<script>
		  $(document).ready(function() {
		    $(".archive-accordion").accordion({
		      collapsible: true,
					heightStyle: "content"
		    });
		  });
		</script>
		{{ partial "iecompat.html" . }}
	</head>
	<body>
		<div class="body-wrap">
			{{ block "pre-header" . }}{{ $.Scratch.Set "CurMenuItem" "" }}{{ end }}
			{{ block "header" . }}
				{{ partial "header/site-header.html" . }}
			{{ end }}
			<div class="content-sizing-wrap">
				<div class="wrap3col content-border-wrap">
					<div class="wrap3col-left content-border-left"></div>
					<div class="wrap3col-mid content-wrap">
						{{ block "main" . }}
						<main>
							<article class="default-content">
								<h1>Default Content</h1>
								<p>If you are seeing this, then the page you have accessed exists but does not correctly
								define a 'main' block. Please check this page's content for errors and then re-generate
								the page.</p>
							</article>
						</main>
						{{ end }}
					</div>
					<div class="wrap3col-right content-border-right"></div>
				</div>
			</div>
			{{ block "footer" . }}
				{{ partial "footer/site-footer.html" . }}
			{{ end }}
		</div>
		{{ block "end-scripts" . }}
		<!-- no scripts in the default baseof -->
		{{ end }}
	</body>
</html>
