<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
	<head>
		<meta charset="utf-8" />
		<title>{{ block "title" . }}
			{{ .Site.Title }}
		{{ end }}</title>
		<link rel="stylesheet" href="styles/main.css" />
		<link rel="alternate" type="application/atom+xml" title="News Feed" href="{{ .Site.RSSLink }}" />
		{{ partial "iecompat.html" . }}
	</head>
	<body>
		{{ block "header" . }}
			{{ partial "header/site-header.html" . }}
		{{ end }}
		
		<div id="wrap">
			<div id="wrap-left" class="wrap-border"></div>
			<div id="wrap-content">
				{{ block "main" . }}
				<main>
					<article class="default-content">
						<h1>Default Content</h1>
						<p>If you are seeing this, then the page you have accessed exists but does not correctly
						define a 'main' block. Please check this page's content for errors and then re-generate
						the page.</p>
					</article>
				</main>
				{{ end }}
			</div>
			<div id="wrap-right" class="wrap-border"></div>
		</div>
		
		{{ block "footer" . }}
			{{ partial "footer/site-footer.html" . }}
		{{ end }}
	</body>
</html>