{{ define "pre-header" }}{{ $.Scratch.Set "CurMenuItem" "blog" }}{{ end }}
{{ define "main" }}
<main>
	<div class="breadcrumbs">
		<a href="/posts">Blog</a> &raquo;
	</div>
	<h1 class="after-breadcrumbs">{{ .Title }}</h1>
	{{ if .Content }}
	<article>
		{{ .Content }}
	</article>
	{{ end }}
	<hr />
	<ul class="font-sans-title">
		{{- range .Data.Terms.ByCount -}}
		<li><a href="/{{ $.Data.Plural }}/{{ .Name | urlize }}">{{ replace .Name "-" " " | title }}</a> &mdash; {{ .Count }} Page{{ if ne .Count 1 }}s{{ end }}</li>
		{{ end }}
	</ul>
</main>
{{ end }}
