{{ define "pre-header" }}{{ $.Scratch.Set "CurMenuItem" "blog" }}{{ end }}
{{ define "main" }}
<main>
	<h1 class="with-under">{{ .Title }}</h1>
	<div class="subtype-links">
		<a href="/categories">Categories</a> | <a href="/tags">Tags</a> | <a href="/authors">Authors</a>
	</div>
	<div class="preview-panel-container right archive">
		<div class="anchor"></div>
		<div class="arm"></div>
		<article class="preview-panel">
			<div class="title">
				<h1>Archive</h1>
				<img src="/images/icons/news.png" />
				<div class="float-clear"></div>
			</div>
			<hr />
			<div class="preview-panel-content">
				{{ partial "blog-archive.html" . }}
			</div>
		</article>
	</div>
	{{- range first 5 .Data.Pages.ByPublishDate.Reverse -}}
	<div class="preview-panel-container left blog">
		<div class="anchor"></div>
		<div class="arm"></div>
		<article class="preview-panel top-level">
			<div class="title">
				<h1><a href="{{ .URL }}">{{ .Title }}</a></h1>
				<div class="float-clear"></div>
				<img src="/images/icons/clock.png" class="time" width="20px" /> <time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "January 2, 2006" }}</time>
			</div>
			<hr class="title-divider" />
			<div class="preview-panel-content">
				{{ .Summary }}
			</div>
			<hr class="title-divider" />
			<img src="/images/icons/comments.png" width="20px" /><a class="comment-count" href="{{ .URL }}#disqus_thread"><span class="disqus-comment-count" data-disqus-identifier="{{ .UniqueID }}"></span></a>
		</article>
	</div>
	{{ end }}
	<div class="float-clear"></div>
</main>
{{ end }}
{{ define "end-scripts" }}
	<script id="dsq-count-scr" src="//moe-serifu.disqus.com/count.js" async></script>
{{ end }}
