{{ define "main" }}
<main>
	<h1 class="post-main">{{ .Title }}</h1>
	<hr />
	<div class="post-meta">
		<p class="pubdate">Published: <time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "January 2, 2006" }}</time></p>
		<p>Author:{{ range .Params.authors }}<a class="taxonomy-link" href="/authors/{{ . | urlize }}">{{ . }}</a>{{ end }}</p>
	</div>
	<article>
		{{ .Content }}
	</article>
	<div class="post-meta">
		<p>Category:{{ range .Params.categories }}<a class="taxonomy-link" href="/categories/{{ . | urlize }}">{{ . }}</a>{{ end }}</p>
		<p>Tags:{{ range .Params.tags }}<a class="taxonomy-link" href="/tags/{{ . | urlize }}">{{ . }}</a>{{ end }}</p>
	</div>
	<hr />
	<div id="disqus_thread"></div>
</main>
{{ end }}
