{{ define "main" }}
<main>
	<h1>{{ .Title }}</h1>
	<div class="panels-container">
		{{- range $index, $panel := $.Site.Data.panels -}}
		<article class="panel">
			<h1>{{ $panel.title }}</h1>
			<div class="panel-back-{{ $index }}">
				<img src="/images/{{ $panel.image }}" />
			</div>
		</article>{{ end }}
	</div>
	<!--{{ range .Site.Pages }}
		<p>{{ .Section }} - {{ .Title }}</p>
	{{ end }}-->
	<div class="preview-panel-container left news">
		<div class="anchor"></div>
		<div class="arm"></div>
		<article class="preview-panel">
			<div class="title">
				<h1>News</h1>
				<img src="/images/icons/news.png" />
				<div class="float-clear"></div>
			</div>
			<hr />
			<div class="preview-panel-content">
				<h2>Latest Post Title</h2>
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
				piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard
				McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the
				more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the
				cites of the word in classical literature, discovered the undoubtable source.</p>
				<p>Lorem Ipsum
				comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes
				of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of
				ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum
				dolor sit amet..", comes from a line in section 1.10.32.</p>
			</div>
		</article>
	</div>
	<div class="preview-panel-container right tweets">
		<div class="anchor"></div>
		<div class="arm"></div>
		<article class="preview-panel">
			<!--<div class="preview-panel-content">-->
				<a class="twitter-timeline" data-width="330" href="https://twitter.com/MoeSerifu?ref_src=twsrc%5Etfw">Tweets by MoeSerifu</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			<!--</div>-->
		</article>
	</div>
	<div class="float-clear"></div>
</main>
{{ end }}
{{ define "header" }}
	{{ partial "header/site-header.html" . }}
	<!-- include social links after footer so it appears above all elements -->
	{{ partial "social-links.html" . }}
{{ end }}
