{{ define "main" }}
<main>
	<h1>{{ .Title }}</h1>
	<div class="panels-container">
		{{- range $index, $panel := $.Site.Data.panels -}}
		<article class="panel">
			<h1>{{ $panel.title }}</h1>
			<div class="panel-back-{{ $index }}">
				<img src="/images/{{ $panel.image }}" />
			</div>
		</article>{{ end }}
	</div>
	<article class="preview-panel news">
		{{ range .Site.Pages }}
			<p>{{ .Section }} - {{ .Title }}</p>
		{{ end }}
		<div class="panel-header">
			<h1>News</h1>
			<img src="/images/icons/news.png" />
		</div>
		<div class="panel-content">
			<h2>Latest Post Title</h2>
		</div>
		<div class="arm-panel"></div>
	</article>
	<article class="preview-panel twitter">
		<h1>Tweets</h1>
		
		<div class="arm-panel"></div>
	</article>
</main>
{{ end }}
{{ define "header" }}
	{{ partial "header/site-header.html" . }}
	<!-- include social links after footer so it appears above all elements -->
	{{ partial "social-links.html" . }}
{{ end }}