{{ define "main" }}
<main>
	<h1>{{ .Title }}</h1>
	<nav id="social-links">
		<h1>// TODO: Follow</h1>
		{{ range $.Site.Data.links }}
		<a href="{{ .url }}"><img src="/images/icons/{{ .icon }}" class="icon">{{ .title }}</a>
		{{ end }}
		<a href="{{ .Site.RSSLink }}"><img src="/images/icons/rss.png" class="icon">RSS Feed</a>
	</nav>
	{{ range $index, $panel := $.Site.Data.panels }}
	<article class="panel">
		<h1>{{ $panel.title }}</h1>
		<div class="panel-back-{{ $index }}">
			<img src="{{ $panel.image }}" />
		</div>
	</article>
	{{ end }}
	<article class="news-preview">
		<h1>News</h1>
	</article>
	<article class="twitter">
		<h1>Tweets</h1>
	</article>
</main>
{{ end }}