/* Contains definitions for the header and footer side borders/margins */

div.hf-border {
	width: 8px;
	overflow: visible;
}

div.hf-margin img, div.hf-border img {
	display: block;
}

div.hf-margin {
	width: 24px;
}

div.hf-inner {
	display: table;
	height: 100%;
	width: 100%;
}

div.hf-inner div {
	display: table-row;
}

div.hf-inner .hf-border-filler {
	height: 36px;
}

div.hf-inner .hf-border-sweep-outer {
	height: 6px;
}

div.hf-inner .hf-border-side {
	background-image: url('/images/vert-edge.png');
	height: 100%;
}

div.hf-inner .hf-border-curve {
	height: 28px;
}

.corner-bl, .corner-br, .corner-tl, .corner-tr {
	position: absolute;
	display: block;
}

.corner-br, .corner-tr {
	right: 0px;
}


div.hf-inner .hf-margin-sweep-inner {
	height: 44px;
}

div.hf-inner .hf-margin-side {
	height: 100%;
}

div.hf-inner .hf-margin-curve {
	height: 20px;
}

/* Horrible hack to fix subpixel calculation causing a gap for the
100% height table (only appears in webkit browsers) */
header div.hf-margin div.hf-inner {
	position: relative;
	top: 1px;
}
div.hf-inner .hf-border-filler {
	height: 35px;
}
/* END OF HORRIBLE HACK */