/* define default styling for html5 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section, main {
	display:block;
}

html {
	background-color: #d2d9f0;
	background-image: url('../images/circuit-bg.png');
	background-size: 140px 140px;
	background-position: 20px 10px;
}

body {
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
	background-color: #ffffff;
}

header#site-header, footer#site-footer {
	padding-top: 1px; /* Must be at least 1px so child margins do not collapse out */
	padding-bottom: 1px; /* Must be at least 1px so child margins do not collapse out */
}

/* change bg to make layout easier
 TODO: remove when done with layout */
header, footer {
	background-color: lightblue;
}

main {
	background-color: lightgreen;
	padding-top: 1px; /* Must be at least 1px so child margins do not collapse out */
	padding-bottom: 1px; /* Must be at least 1px so child margins do not collapse out */
}

/* These divs has no semantic purpose; they are used for styling only */
div.content-wrap {
	margin-right: 5px;
	margin-left: 5px;
	background-color: pink;
	padding-top: 50px;
}

div.content-border {
	background-color: #aaaaaa;
	width: 5px;
}

div.header-wrap {
	margin-right: 20px;
	margin-left: 20px;
	background-color: aqua;
}

div.header-border {
	width: 20px;
}
