<header>
	<div class="wrap3col">
		{{ partial "side-border.html" (slice "header" "left") }}
		<div class="wrap3col-mid hf-wrap">
			<div class="wrap3col">
				{{ partial "side-margin.html" (slice "header" "left") }}
				<div class="wrap3col-mid hf-content">
					<div class="hf-inner-horz-edge"></div>
					<!-- Start of content -->
					<div>
						<h1>{{ .Site.Title }}</h1>
						<h2>{{ .Site.Params.tagline }}</h2>
					</div>
					<img class="logo" src="/images/masa-chibi.png" />
					<nav>
						<a href="/">Home</a>
						{{ range where .Site.Pages "Type" "top" }}
						<a href="{{ .URL }}">{{ .Title }}</a>
						{{ end }}
					</nav>
					<!-- end of content -->
				</div>
				{{ partial "side-margin.html" (slice "header" "right") }}
			</div>
		</div>
		{{ partial "side-border.html" (slice "header" "right") }}
	</div>
	<div class="hf-outer-horz-edge">
	</div>
</header>