<header id="site-header">
	<div class="wrap3col">
		<div class="wrap3col-left hf-border">
			<div class="screw corner-tl"></div>
		</div>
		<div class="wrap3col-mid hf-wrap">
			<hgroup>
				<h1>{{ .Site.Title }}</h1>
				<h2>{{ .Site.Params.tagline }}</h2>
			</hgroup>
			<nav>
				<a href="/">Home</a>
				{{ range where .Site.Pages "Type" "top" }}
				<a href="{{ .URL }}">{{ .Title }}</a>
				{{ end }}
			</nav>
		</div>
		<div class="wrap3col-right hf-border">
			<div class="screw corner-tr"></div>
		</div>
	</div>
	<!-- TODO: turn circuits-back into component/partial -->
	<div class="pos-anchor">
		<div class="circuits-back">
			<div class="wrap3col">
				<div class="wrap3col-left hf-border">
					<div class="screw corner-bl"></div>
				</div>
				<div class="wrap3col-mid hf-wrap"></div>
				<div class="wrap3col-right hf-border">
					<div class="screw corner-br"></div>
				</div>
			</div>
		</div>
	<div class="pos-anchor">
</header>