<header>
	<div class="wrap3col">
		{{ partial "side-border.html" (slice "header" "left") }}
		<div class="wrap3col-mid hf-wrap">
			<div class="wrap3col">
				{{ partial "side-margin.html" (slice "header" "left") }}
				<div class="wrap3col-mid hf-content">
					<div class="hf-inner-horz-edge"></div>
					<!-- Start of content -->
					<div class="text-inline">
						<h1>{{ .Site.Params.project }}</h1><br />
						<h2 id="tagline">{{ .Site.Params.tagline }}</h2>
					</div>
					<img class="logo" src="/images/chibi.png" />
					<nav>
						{{- range .Site.Menus.main -}}
						<a {{ if eq ($.Scratch.Get "CurMenuItem") .Identifier }}class="current-menu-item"{{ end }} href="{{ .URL }}">{{ .Name }}</a>{{ end }}
					</nav>
					<!-- end of content -->
				</div>
				{{ partial "side-margin.html" (slice "header" "right") }}
			</div>
		</div>
		{{ partial "side-border.html" (slice "header" "right") }}
	</div>
	<div class="hf-outer-horz-edge">
	</div>
</header>
